<nav>
  <details open>
    <summary>Menu</summary>
    <ul>
      <li><a href="{{ '/about/' | relative_url }}"{% if page.url == '/about/' %} aria-current="page"{% endif %}>About</a></li>
      <li><a href="{{ '/speaking/' | relative_url }}"{% if page.url == '/speaking/' %} aria-current="page"{% endif %}>Speaking & Writing</a></li>
      
      <li><a href="{{ '/docs/style-guide/' | relative_url }}"{% if page.url == '/docs/style-guide/' %} aria-current="page"{% endif %}>.Style Guide</a></li>
      {% if page.url == '/docs/style-guide/' or page.url == '/docs/style-guide/index.html' %}
        <ul>
          <li><a href="{{ '/docs/style-guide/headlines-and-standfirsts.html' | relative_url }}"{% if page.url == '/docs/style-guide/headlines-and-standfirsts.html' %} aria-current="page"{% endif %}>Headlines & Standfirsts</a></li>
        </ul>
      {% endif %}
    </ul>
  </details>
</nav>
