---
layout: default
---
{% include easter.html %}

<section class="intro">
  {{ content | typogrify }}
</section>

<section class="posts">
  <h2>Writing</h2>
  {% for post in site.posts %}
  <article class="post-preview">
    <header>
      {% assign now_seconds = site.time | date: "%s" | plus: 0 %}
      {% if post.updated_date %}
        {% assign check_date = post.updated_date %}
      {% elsif post.last_modified_at %}
        {% assign check_date = post.last_modified_at %}
      {% else %}
        {% assign check_date = post.date %}
      {% endif %}
      {% assign post_seconds = check_date | date: "%s" | plus: 0 %}
      {% assign age_seconds = now_seconds | minus: post_seconds %}
      <h3><a href="{{ post.url | relative_url }}">{{ post.title | typogrify }}</a>{% if age_seconds > 31536000 %} ({{ check_date | date: "%Y" }}){% endif %}</h3>
    </header>
    <p>
      {% if post.description %}
        {{ post.description | typogrify }}
      {% elsif post.excerpt %}
        {{ post.excerpt | typogrify | strip_html | truncatewords: 40 }}
      {% endif %}
      <span class="reading-time"><em>{{ post.content | reading_time | append: " min read." }}</em></span>
    </p>
  </article>
  {% endfor %}
</section>
