---
layout: default
---

<div class="post-container">
  <article class="post">
    <header class="post-header">
      <h2>{{ page.title | escape }}</h2>
      <p class="reading-time"><em>{{ page.content | reading_time | append: " min read" }}</em></p>
    </header>
    {% if page.stand_first %}
      <h3 class="stand-first">{{ page.stand_first | typogrify }}</h3>
    {% endif %}
    {{ content | typogrify }}
    <footer class="post-footer">
      <p><a href="{{ '/' | relative_url }}">Back to all posts</a></p>
    </footer>
  </article>
</div>
